.footer{
  padding: 32px 0 8px;
  background: black;
  color: #ffffff;

  @include max-width(690px) {
    padding: 0;
  }

  .col:last-child{
    text-align: right;
  }

  a{
    color: #ffffff;
  }

  &-top{
    border-bottom: 1px solid rgba(214, 211, 211, 0.2);

    @include max-width(690px) {
      padding-bottom: 15px;
    }
  }

  &-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 24px;

    @include max-width(690px) {
      margin-bottom: 0;
    }

    img {
      width: 38px;
      height: auto;

      @include max-width(690px) {
        width: 36px;
      }
    }

    span {
      font-size: 27px;
      font-weight: bold;

      @include max-width(690px) {
        font-size: 22px;
      }
    }
  }

  &-menu{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;

    @include max-width(690px) {
      margin: 0;
    }

    li{
      padding-bottom: 8px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.3;
    }

    a{
      text-decoration: none;
    }
  }

}

.social-links{
  display: inline-block;
  padding: 0;
  list-style: none;

  @include max-width(690px) {
    margin-bottom: 0;
    margin-top: 0;
  }

  li{
    display: inline-block;
    padding: 0 13px;

    @include max-width(690px) {
      padding: 0 5px;
    }
  }
}

.footer-mobile-logo{
  @include max-width(690px) {
    align-items: center;
  }
}

.footer-mobile{
  @include max-width(690px) {
    padding-top: 15px;
    flex-direction: column;
  }
}

.newsletter{
  margin-top: 24px;

  @include max-width(690px) {
    padding-top: 20px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  &-title{
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 8px;

    @include max-width(690px) {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &-description{
    margin: 8px 0;
    font-size: 12px;
    font-weight: 300;

    @include max-width(690px) {
      text-align: right;
    }
  }
}

.form-group {
  display: inline-flex;
  justify-content: flex-end;

  @include max-width(690px) {
    display: flex;
  }


  input{
    font-size: 16px;
    font-weight: 300;
    padding: 12px;
    min-width: 265px;
    box-sizing: border-box;

    @include max-width(690px) {
      width: 100%;
      min-width: auto;
    }

    &::placeholder{
      color: rgba(0, 0, 0, 0.3);
    }
  }

  button{
    padding: 12px 15px;
    color: #fff;
    background-color: #e01f7a;
    font-size: 16px;
    font-weight: 500;
    border: 0;
  }
}

.copyright{
  margin-top: 35px;
  text-align: center;

  @include max-width(690px) {
    margin-top: 15px;
    margin-bottom: 50px;
  }

}

.terms-menu{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;

    a{
      padding: 0 5px;
      text-decoration: none;
    }

    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
}