{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 4/3/19 7:24AM
{% endcomment %}
<div class="container">
  <h1 class="page-title">{{ page.title }}</h1>
  <div id="talkable-offer"></div>
</div>